<h1>Decisions#show</h1>
<p>Find me in app/views/decisions/show.html.erb</p>




<%= content_tag :h2, "We said suggested:" %>
<%= @decision.app_choice %>




<%= content_tag :h2, "The creator of this decision have chose:" %>
<%= @decision.user_choice %>