// Place all the styles related to the decisions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.main_page{
	width: 90%;
	margin: 5%;
	text-align: center;

	h3{
		font-size: 4vw;
		width: 100%;
		text-align: center;
	}
}
select{
	font-size: 7vw;
}

button{
	font-size: 7vw;
}
input{
	font-size: 7vw;
}