// Place all the styles related to the decisions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




$light_blue: #74b2d7;
$medium_blue: #4788b0;
$dark_blue: #1c638d;
$black: #333333;
$grey: #444444;
$white: #fdfeff;



select{
	// -webkit-appearance: none;
	font-family: 'Montserrat', sans-serif;
	text-align-last: center;
	font-size: 7vw;
	width: 80%;
	border-radius: 2vw;
	background-color: $light_blue;
	color: $white;

}
textarea{
	font-family: 'Montserrat', sans-serif;
	color: $white;
	width: 80%;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-size: 1.4vw;
	text-align: center;
	background-color: $medium_blue;
	// font-family: Tahoma, sans-serif;
	// background-image: url(sky.gif);
	// background-position: bottom right;
	// background-repeat: no-repeat;
}
input{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 6.5vw;
	width:80%;
	border-radius: 2vw;
	background-color: $medium_blue;
	color: $white;


}
button{
	font-family: 'Montserrat', sans-serif;
	background-color: $dark_blue;
	font-size: 6.5vw;
	width: 80%;
	border-radius: 2vw;
	color: $white;

}
article{
	border: 3px solid $medium_blue;
	margin: 1vw;
	border-radius: 2vw;
	p{
		border: 3px solid $light_blue;
		margin: 1vw;
		border-radius: 2vw;
		strong{
			color: $medium_blue;
			font-size: 3vw;
		}
	}
}
.remember{
	width: 100%;
	margin: 0;
	text-align: center;
	font-size: 2vw;
	input{
		width:3vw;
	}
}