// Place all the styles related to the decisions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




$light_blue: #74b2d7;
$medium_blue: #4788b0;
$dark_blue: #1c638d;
$black: #333333;
$grey: #444444;
$white: #fdfeff;


// styling new & edit decision page
select{
	// -webkit-appearance: none;
	font-family: 'Montserrat', sans-serif;
	text-align-last: center;
	font-size: 7vw;
	width: 80%;
	border-radius: 2vw;
	background-color: $light_blue;
	color: $white;

}
textarea{
	font-family: 'Montserrat', sans-serif;
	color: $white;
	width: 80%;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-size: 1.4vw;
	text-align: center;
	background-color: $medium_blue;
	// font-family: Tahoma, sans-serif;
	// background-image: url(sky.gif);
	// background-position: bottom right;
	// background-repeat: no-repeat;
}
input{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 6.5vw;
	width:80%;
	border-radius: 2vw;
	background-color: $medium_blue;
	color: $white;


}
button{
	font-family: 'Montserrat', sans-serif;
	background-color: $dark_blue;
	font-size: 6.5vw;
	width: 80%;
	border-radius: 2vw;
	color: $white;

}
article{
	border: 3px solid $medium_blue;
	margin: 1vw;
	border-radius: 2vw;
	p{
		border: 3px solid $light_blue;
		margin: 1vw;
		border-radius: 2vw;
		strong{
			color: $medium_blue;
			font-size: 3vw;
		}
	}
}
.remember{
	width: 100%;
	margin: 0;
	text-align: center;
	font-size: 2vw;
	input{
		width:3vw;
	}
}

// styling decision index


.vote_board{
	background-color: $light_blue;
	border: 2px solid $white;
	border-radius: 2vw;
	// padding: 0 -2vw 2vw -2vw;
	width: 90%;
	margin: 5%;
	text-align: center;
	h1{
		font-size: 4vw;
		margin: 0
	}
	.user_decisions{
		width:100%;
		// display:flex;

		.user_decision{
			width: 28%;
			margin: 1%;
			display: inline-block;
			float: center;
			height: 8.7vw;
			background-color: $medium_blue;
			border: 3px solid $white;
			border-radius: 2vw;
			&:hover{
				// color: $black;
				background-color: $light_blue;
			}
			a{
				vertical-align: middle;
				display:block;
				margin: 2%;
				text-decoration: none;
				font-size: 2vw;
				color: $white;
				&:hover{
				color: $grey;
				}
			}
		}
	}
	table{
		width: 80%;
		margin: 0 10% 0 10%;
		.other_name{
			width:40%;
			text-align: center;
			background-color: $medium_blue;
			border: 3px solid $white;
			border-radius: 2vw;
			&:hover{
				// color: $black;
				background-color: $light_blue;
			}
			a{
				vertical-align: middle;
				display:block;
				margin: 2%;
				text-decoration: none;
				font-size: 2vw;
				color: $white;
				&:hover{
				color: $grey;
				}
			}
		}
	}
}
// edit page
.prompt_page{
	width:90%;
	margin:	5%;

	.result{
		width:45%;
		border: 3px solid $white;
		border-radius: 2vw;
		display: inline-block;
		margin: 1%;
		h4{
			font-size: 4vw;
		}
	}
	.advice{
		background-color: $dark_blue;
		// float: left;
	}
	.response{
		// float: right;
		background-color: $light_blue;

	}
	.prompt{
		input{
			padding: 10%;
			margin: 1%;
			width: 94%;
			font-size: 4vw;
			height: 100%;
		}
	}

}