$light_blue: #74b2d7;
$medium_blue: #4788b0;
$dark_blue: #1c638d;
$black: #333333;
$grey: #444444;
$white: #fdfeff;



body{
	font-family: 'Montserrat', sans-serif;
	// font-family: GeosansLight;
	color: $white;
	background-color: $grey;
	@media (min-width: 1000px){
		background-image: url(trees.jpg);
	}
}

#title_banner{
	padding: 10%;
	color:$white;
	width:80%;
	text-align: center;
	font-size: 15vw;
	background-color: $light_blue;
	height: 20vw;
	margin:0;

}
nav{
	width:100%;
	height: 17vw;
	display: flex;
	justify-content: space-around;
	background-color: $black;

	.nav_button{
		margin: 3vw;
		text-align: center;
		width: 30%;
		height: 10vw;
		background-color: $grey;

		&:hover{
			color: $light_blue;
			background-color: $black;
		}
		a{
			display:block;
			margin: 5%;
			text-decoration: none;
			font-size: 4vw;
			color: $white;
			&:hover{
				color: $light_blue;
			}
		}
	}
}